.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 25px auto; 
  padding: 25px; 
  background-color: #e6e6e6; 
  border-radius: 10px; 
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.15); 
  animation: fade-in 1.2s ease-in-out;
  max-width: 800px;
}

@keyframes fade-in {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

.project-heading {
  margin-bottom: 15px;
  font-size: 24px; 
  color: #333; 
}

.project-name {
  margin-bottom: 15px; 
  font-size: 20px;
  color: #555; 
}

.project-info {
  margin-bottom: 10px; 
  font-size: 18px; 
}

.section-heading {
  padding-left: 25px; 
  font-size: 22px; 
  font-weight: bold; 
  color: #444; 
}

.issue-list {
  background-color: #f9f9f9; 
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); 
  border-radius: 20px; 
  margin: 10px;
  padding: 15px; 
  width: 720px; 
  max-height: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.issue-item {
  margin-bottom: 12px; 
  display: inline-block;
  margin-right: 15px; 
  padding: 8px;
  border-radius: 8px; 
  background-color: #fff; 
}

.issue-title {
  font-weight: bold;
  font-size: 18px; 
}

.issue-author {
  font-weight: bold;
  font-size: 16px; 
  color: #666;
}

.issue-description {
  margin-bottom: 5px; 
}

.delete-form {
  display: inline-block;
  margin-right: 12px; 
}

.button-group {
  margin-top: 25px; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-group form,
.button-group a {
  margin: 0 10px; 
}

.btn {
  display: inline-block;
  padding: 12px 25px; 
  background-color: #28a745; 
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 8px; 
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-primary:hover {
  background-color: #218838; 
}

.btn-danger {
  background-color: #dc3545;
}

.btn-danger:hover {
  background-color: #c82333;
}


.issue-list::-webkit-scrollbar {
  width: 0.5em;
  height: 0.5em;
  display: none;
}

.issue-list::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 0.25em;
}

.issue-list::-webkit-scrollbar-track {
  background-color: transparent;
}

.issue-list {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
